#
# Copyright Luxoft. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
admins:
    - org1.luxoft.com:
        name: admin
        cert: network/crypto-config/peerOrganizations/organisation0.luxoft.com/users/Admin@organisation0.luxoft.com/msp/admincerts/Admin@organisation0.luxoft.com-cert.pem
        privateKey: network/crypto-config/peerOrganizations/organisation0.luxoft.com/users/Admin@organisation0.luxoft.com/msp/keystore/*_sk
        mspID: Org0MSP

eventhubs:
    - peer0.organisation0.luxoft.com:
        url: grpcs://{% if aws_enabled == 'True' %}{{ hostvars[groups['tag_peer_index_0'][0]]['ansible_host'] }}{% else %}{{ hostvars[groups['peers'][0]]['ansible_host'] }}{% endif %}:7053
        pemFile: network/crypto-config/peerOrganizations/organisation0.luxoft.com/peers/peer0.organisation0.luxoft.com/tls/ca.crt
        properties:
            sslProvider: openSSL
            negotiationType: TLS
            hostnameOverride: peer0.organisation0.luxoft.com

peers:
    - peer0.organisation0.luxoft.com:
        url: grpcs://{% if aws_enabled == 'True' %}{{ hostvars[groups['tag_peer_index_0'][0]]['ansible_host'] }}{% else %}{{ hostvars[groups['peers'][0]]['ansible_host'] }}{% endif %}:7051
        pemFile: network/crypto-config/peerOrganizations/organisation0.luxoft.com/peers/peer0.organisation0.luxoft.com/tls/ca.crt
        properties:
            sslProvider: openSSL
            negotiationType: TLS
            hostnameOverride: peer0.organisation0.luxoft.com

orderers:
    - orderer0.luxoft.com:
        url: grpcs://{{ hostvars[groups['tag_orderer_index_0'][0]]['ansible_host'] }}:7050
        pemFile: network/crypto-config/ordererOrganizations/luxoft.com/orderers/orderer0.luxoft.com/tls/ca.crt
        properties:
            sslProvider: openSSL
            negotiationType: TLS
            hostnameOverride: orderer0.luxoft.com
            ordererWaitTimeMilliSecs: 10000

chaincodes:
    - testchaincode:
        id: testchaincode
        sourceLocation: chaincode
        sourceLocationPrefix: chaincodes/TestChaincode
        version: v01
        type: GO_LANG

channels:
    - org0channel:
        admin: org1.luxoft.com
        orderers:
            - orderer0.luxoft.com
        peers:
            - peer0.organisation0.luxoft.com
        txFile: network/channel-artifacts/org0channel.tx
        chaincodes:
            - testchaincode